{% extends 'base.html' %}


{% block content %}
<div class="container">
    <h1 class="mt-4">Add Caretaker to Building</h1>
    <p class="text-muted">Building: {{ building }}</p>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_name" class="form-label">Name</label>
            {{ form.name }}
        </div>
        <div class="mb-3">
            <label for="id_phone_number" class="form-label">Phone Number</label>
            {{ form.phone_number }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
