{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-5">Building Form</h1>
    <form method="post" class="mt-4 needs-validation" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="building_name">Building Name:</label>
                    <input type="text" class="form-control" id="building_name" name="building_name" required>
                    <div class="invalid-feedback">
                        Please provide a building name.
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="owner">Owner:</label>
                    <input type="text" class="form-control" id="owner" name="owner" required>
                    <div class="invalid-feedback">
                        Please provide the owner's name.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="location">Location:</label>
                    <input type="text" class="form-control" id="location" name="location" required>
                    <div class="invalid-feedback">
                        Please provide the location.
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="total_number_of_houses">Total Number of Houses:</label>
                    <input type="number" class="form-control" id="total_number_of_houses" name="total_number_of_houses" required>
                    <div class="invalid-feedback">
                        Please provide the total number of houses.
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add('was-validated');
                }, false);
            });
    })();
</script>
{% endblock %}
